<header class="header">
    <mat-toolbar class="toolbar px-10">
        <mat-toolbar-row class="flex justify-between">
            <div>
                <img class="w-16" src="../../../assets/logo/lahuella.png" alt="logo-lahuella">
            </div>
            
            <nav class="menu flex gap-4 items-center">
                <a routerLink="" class="item-menu text-base">Inicio</a>
                <a routerLink="/blog" class="item-menu text-base">Blog</a>
                <a routerLink="/contacto" class="item-menu text-base">Contacto</a>
                <button mat-flat-button class="button-menu text-base" routerLink="/reservar-cita">Reservar cita</button>
            </nav>
        </mat-toolbar-row>
    </mat-toolbar>
</header>
