$mediaMovil: 767px;
$mediaTabletMin: 768px;
$mediaTabletMax: 1023px;
$mediaPortatilMin: 1024px;
$mediaDesktopMin: 1440px;

main{
    margin: 0 2rem; 
}

.encabezado{
    margin: 1rem 0;
}

h1{
    font-size: var(--lengthLg1);
}

.categorias {
    display: flex;
    gap: 2rem;

    @media (max-width: $mediaTabletMax) {
        flex-direction: column;
    }

    @media (min-width: $mediaPortatilMin) {
        flex-direction: row;
    }
}

.tabla-categorias {
    @media (min-width: $mediaPortatilMin) {
        min-width: 60%;
    }
}

.nueva-categorias {
    @media (min-width: $mediaPortatilMin) {
        width: 40%;
    }
}

.nueva-categoria form {
    margin: 2rem 0;
}

button.nuevo {
    color: var(--dark);
}

.categoria-form {
    min-width: 150px;
    width: 100% !important;

    @media (min-width: $mediaPortatilMin) {
        min-width: 300px;
    }

    @media (min-width: $mediaDesktopMin) {
        min-width: 400px;
    }
}
  
.example-full-width {
    width: 100%;
}

.caution {
    color: red;
}