<main>
    <section class="encabezado flex flex-row items-center gap-6">
        <h1>Citas</h1>
        <button mat-stroked-button class="nuevo" (click)="modalCrearCita()">Añadir cita</button>
        <button mat-stroked-button class="nuevo">Añadir cita desde reserva</button>
    </section>

    <section class="citas">
        @if(platformId == 'browser') {
            <full-calendar [options]="calendarOptions" [deepChangeDetection]="true"></full-calendar>
        }
    </section>
</main>

<!-- CONTENIDO DEL MODAL PARA VER CITA -->
<ng-template #contentVer>
    <div class="modalVer">
        <div class="cita-data">
            <h3>Nombre</h3>
            <p>{{ cita.nombre }}</p>
        </div>
        
        <div class="cita-data">
            <h3>Apellidos</h3>
            <p>{{ cita.apellidos }}</p>
        </div>

        <div class="cita-data">
            <h3>Email</h3>
            <p>{{ cita.email }}</p>
        </div>

        <div class="cita-data">
            <h3>Teléfono</h3>
            <p>{{ cita.telefono }}</p>
        </div>

        <div class="cita-data">
            <h3>Fecha</h3>
            <p>{{ cita.fecha | date:'shortDate' }}</p>
        </div>

        <div class="cita-data">
            <h3>Hora</h3>
            <p>{{ cita.hora }}</p>
        </div>
    </div>

    <div class="modal-buttons">
        <button mat-flat-button (click)="modalEditarCita(cita.id)">Editar</button>
        <button mat-flat-button (click)="modalEliminarCita(cita.id)">Eliminar</button>
    </div>
</ng-template>

<!-- CONTENIDO DEL MODAL PARA CREAR CITAS -->
<ng-template #contentNuevo>
    <form [formGroup]="nuevaCitaForm">
        <mat-grid-list class="input-list" cols="2" [rowHeight]="rowHeight">
            <mat-grid-tile [colspan]="2" [rowspan]="2">
                <mat-form-field class="nombre-input form-field" [style.width.%]="100" [style.gap.%]="10">
                    <mat-label>Nombre:</mat-label>
                    <input type="text" matInput placeholder="" value="" formControlName="nombre_nuevo" required>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="2">
                <mat-form-field class="apellidos-input form-field" [style.width.%]="100" [style.gap.%]="10">
                    <mat-label>Apellidos:</mat-label>
                    <input type="text" matInput placeholder="" value="" formControlName="apellidos_nuevo" required>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="2">
                <mat-form-field class="email-input form-field" [style.width.%]="100" [style.gap.%]="10">
                    <mat-label>Email:</mat-label>
                    <input type="email" matInput placeholder="" value="" formControlName="email_nuevo" required>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="2">
                <mat-form-field class="telefono-input form-field" [style.width.%]="100" [style.gap.%]="10">
                    <mat-label>Teléfono:</mat-label>
                    <input type="number" matInput placeholder="" value="" formControlName="telefono_nuevo" required>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="2">
                <mat-form-field class="fecha-input form-field" [style.width.%]="100" [style.gap.%]="10">
                    <mat-label>Selecciona una fecha</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="fecha_nuevo">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="2">
                <mat-form-field class="fecha-input form-field" [style.width.%]="100" [style.gap.%]="10">
                    <div class="flex items-start">
                        <input matInput aria-label="Seleccionar hora" placeholder="Selecciona una hora" [ngxTimepicker]="toggleTimepicker" [disableClick]="true" [format]="24" readonly formControlName="hora_nuevo">
                        <ngx-material-timepicker-toggle [for]="toggleTimepicker"></ngx-material-timepicker-toggle>
                        <ngx-material-timepicker #toggleTimepicker [theme]="lahuellaTheme" [cancelBtnTmpl]="cancelBtn"
                        [confirmBtnTmpl]="confirmBtn"></ngx-material-timepicker>

                        <!-- BUTTONS FOR TIMEPICKER TOOGLE -->
                        <ng-template #cancelBtn>
                            <button style="margin-right: 10px">Cancelar</button>
                        </ng-template>
                        <ng-template #confirmBtn>
                            <button style="color:var(--lightbrown)">Confirmar</button>
                        </ng-template>
                    </div>
                </mat-form-field>
            </mat-grid-tile>
                    
        </mat-grid-list>
    </form>
</ng-template>

<!-- CONTENIDO DEL MODAL PARA EDITAR CITAS -->
<ng-template #contentEditar>
    <form [formGroup]="editarCitaForm">
        <mat-grid-list class="input-list" cols="2" [rowHeight]="rowHeight">
            <mat-grid-tile [colspan]="2" [rowspan]="2">
                <mat-form-field class="nombre-input form-field" [style.width.%]="100" [style.gap.%]="10">
                    <mat-label>Nombre:</mat-label>
                    <input type="text" matInput formControlName="nombre_editar" required>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="2">
                <mat-form-field class="apellidos-input form-field" [style.width.%]="100" [style.gap.%]="10">
                    <mat-label>Apellidos:</mat-label>
                    <input type="text" matInput formControlName="apellidos_editar" required>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="2">
                <mat-form-field class="email-input form-field" [style.width.%]="100" [style.gap.%]="10">
                    <mat-label>Email:</mat-label>
                    <input type="email" matInput formControlName="email_editar" required>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="2">
                <mat-form-field class="telefono-input form-field" [style.width.%]="100" [style.gap.%]="10">
                    <mat-label>Teléfono:</mat-label>
                    <input type="number" matInput formControlName="telefono_editar" required>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="2">
                <mat-form-field class="fecha-input form-field" [style.width.%]="100" [style.gap.%]="10">
                    <mat-label>Selecciona una fecha</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="fecha_editar">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="2">
                <mat-form-field class="fecha-input form-field" [style.width.%]="100" [style.gap.%]="10">
                    <div class="flex items-start">
                        <input matInput aria-label="Seleccionar hora" placeholder="Selecciona una hora" [ngxTimepicker]="toggleTimepicker" [disableClick]="true" [format]="24" readonly formControlName="hora_editar">
                        <ngx-material-timepicker-toggle [for]="toggleTimepicker"></ngx-material-timepicker-toggle>
                        <ngx-material-timepicker #toggleTimepicker [theme]="lahuellaTheme" [cancelBtnTmpl]="cancelBtn"
                        [confirmBtnTmpl]="confirmBtn"></ngx-material-timepicker>

                        <!-- BUTTONS FOR TIMEPICKER TOOGLE -->
                        <ng-template #cancelBtn>
                            <button style="margin-right: 10px">Cancelar</button>
                        </ng-template>
                        <ng-template #confirmBtn>
                            <button style="color:var(--lightbrown)">Confirmar</button>
                        </ng-template>
                    </div>
                </mat-form-field>
            </mat-grid-tile>
                    
        </mat-grid-list>
    </form>
</ng-template>

<!-- CONTENIDO DEL MODAL PARA ELIMINAR CITA -->
<ng-template #contentEliminar>
    <div class="modalEliminar">
        ¿Estás seguro de querer eliminar la cita de "{{ cita.nombre }} {{ cita.apellidos }}"?
    </div>
</ng-template>
