$mediaMovil: 767px;

main{
    margin: 0 2rem; 
}

.encabezado{
    margin: 1rem 0;
}

h1{
    font-size: var(--lengthLg1);
}

.encabezado a{
    font-size: var(--lengthMd1);
    color: var(--lightbrown);
}

// COLUMNAS
.tablas-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2rem;
    margin-bottom: 2rem;

    @media (max-width: $mediaMovil) {
        flex-direction: column;
    }
}

.columna-izqa, .columna-dcha {
    width: 50%;

    @media (max-width: $mediaMovil) {
        width: 100%;
    }
}

.columna-dcha {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.columna-izqa h2 {
    margin-bottom: 2rem;
}

h2 {
    text-align: center;
    font-size: var(--lengthMd2);

    @media (max-width: $mediaMovil) {
        text-align: start;
    }
}
