<!-- HEADER -->
<app-header />

<main>
    <section class="cookies">
        <h1>Política de cookies</h1>

        <div class="cookies-container">
            <h2>I. INTRODUCCIÓN</h2>
            <p>
                En cumplimiento de lo dispuesto en el artículo 22.2 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y del Comercio
                Electrónico (LSSI-CE), así como en el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo (RGPD), esta página web informa a los usuarios
                sobre el uso de cookies.
            </p>

            <h2>II. ¿QUÉ SON LAS COOKIES?</h2>
            <p>
                Las cookies son pequeños archivos de texto que se descargan en el dispositivo del usuario al acceder a determinadas páginas web. Su principal finalidad
                es garantizar el correcto funcionamiento de la página web, recordar las preferencias del usuario y mejorar su experiencia de navegación. Las cookies no
                contienen información personal específica y se eliminan automáticamente tras su periodo de validez.
            </p>

            <h2>III. COOKIES UTILIZADAS EN ESTE SITIO WEB</h2>
            <p>
                Este Sitio Web utiliza únicamente una cookie con la finalidad de gestionar las sesiones de usuario. A continuación, se detallan sus características:
            </p>
            <ul>
                <li>Nombre de la cookie: _lh_tk</li>
                <li>Finalidad: Gestionar la sesión del usuario autenticado en el Sitio Web.</li>
                <li>Duración: 1 hora(s) desde su creación o última actualización.</li>
                <li>Titularidad: Propia (gestionada directamente por el Sitio Web).</li>
            </ul>
            <ul>
                <li>Nombre de la cookie: _user_lh</li>
                <li>Finalidad: Permite identificar al usuario autenticado en el Sitio Web.</li>
                <li>Duración: 1 hora(s) desde su creación o última actualización.</li>
                <li>Titularidad: Propia (gestionada directamente por el Sitio Web).</li>
            </ul>
            <ul>
                <li>Nombre de la cookie: _xsrf_token</li>
                <li>Finalidad: Proteger al sitio web de ataques CSRF.</li>
                <li>Duración: 1 hora(s) desde su creación o última actualización.</li>
                <li>Titularidad: Propia (gestionada directamente por el Sitio Web).</li>
            </ul>
            <ul>
                <li>Nombre de la cookie: _ga</li>
                <li>Finalidad: Permite gestionar las analíticas del sitio web con Google Analytics.</li>
                <li>Duración: 24 hora(s) desde su creación o última actualización.</li>
                <li>Titularidad: Google.</li>
            </ul>

            <h2>IV. GESTIÓN DE COOKIES</h2>
            <p>
                Se pueden configurar los diferentes navegadores para avisar al usuario de la recepción de cookies y, si se desea, impedir su instalación en el equipo.
                Asimismo, el usuario puede revisar en su navegador qué cookies tiene instaladas y cuál es el plazo de caducidad de las mismas, pudiendo eliminarlas. Para
                ampliar esta información consulte las instrucciones y manuales de su navegador:
            </p>
            <p>
                Para más información sobre la administración de las cookies en Google Chrome:
                <a href="https://support.google.com/chrome/answer/95647?hl=es" target="_blank">
                    https://support.google.com/chrome/answer/95647?hl=es
                </a>
            </p>
            <p>
                Para más información sobre la administración de las cookies en Internet Explorer:
                <a href="https://windows.microsoft.com/es-es/windows-vista/cookies-frequently-asked-questions" target="_blank">
                    https://windows.microsoft.com/es-es/windows-vista/cookies-frequently-asked-questions
                </a>
            </p>
            <p>
                Para más información sobre la administración de las cookies en Mozilla Firefox:
                <a href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we" target="_blank">
                    https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we
                </a>
            </p>
            <p>
                Para más información sobre la administración de las cookies en Safari:
                <a href="https://www.apple.com/es/privacy/use-of-cookies/" target="_blank">
                    https://www.apple.com/es/privacy/use-of-cookies/
                </a>
            </p>
            <p>
                Para más información sobre la administración de las cookies en Opera:
                <a href="https://help.opera.com/Windows/11.50/es-ES/cookies.html" target="_blank">
                    https://help.opera.com/Windows/11.50/es-ES/cookies.html
                </a>
            </p>
            <p>
                Si desea dejar de ser seguido por Google Analytics visite:
                <a href="https://tools.google.com/dlpage/gaoptout" target="_blank">
                    https://tools.google.com/dlpage/gaoptout
                </a>
            </p>
            <p>
                Es importante destacar que la desactivación de cookies estrictamente necesarias puede afectar al correcto funcionamiento del Sitio Web.
            </p>

            <h2>V. ACTUALIZACIONES Y CAMBIOS EN LA POLÍTICA DE COOKIES</h2>
            <p>
                El titular del Sitio Web se reserva el derecho de modificar esta Política de Cookies en función de requisitos legales o técnicos.
                Se recomienda a los usuarios revisar esta política de forma periódica para estar informados sobre cómo y para qué se utilizan las cookies.
            </p>

            <h2>VI. CONTACTO</h2>
            <p>
                Si tiene alguna duda o consulta sobre esta Política de Cookies, puede ponerse en contacto con nosotros a través del correo electrónico:
                jcooldevelopment&#64;gmail.com.
            </p>
            
        </div>
    </section>
</main>

<!-- FOOTER -->
<app-footer />
