<main>
    <section class="encabezado">
        <h1>Editar entrada</h1>
        <a routerLink="/admin/blog">← Volver a la web</a>
    </section>

    <form [formGroup]="postEditarForm" class="post-data">
    
        <!-- TÍTULO + CONTENIDO -->
        <section class="post-content">
            <div class="input-border">
                <mat-form-field class="field-full-width">
                    <mat-label>Título</mat-label>
                    <input matInput type="text" formControlName="titulo">
                </mat-form-field>
            </div>

            <div class="input-border">
                <mat-form-field class="field-full-width">
                    <mat-label>Slug</mat-label>
                    <input matInput type="text" formControlName="slug" placeholder="El slug debe ser único.">
                </mat-form-field>
            </div>

            <div class="input-border">
                <mat-form-field class="field-full-width">
                    <mat-label>Contenido de la entrada</mat-label>
                    <textarea matInput formControlName="contenido"
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="10"
                    cdkAutosizeMaxRows="10"></textarea>
                </mat-form-field>
            </div>

            <div class="input-border">
                <h2>SEO</h2>

                <mat-form-field class="field-full-width">
                    <mat-label>Palabras clave</mat-label>
                    <input matInput type="text" formControlName="keywords" placeholder="Palabras clave separadas por coma.">
                </mat-form-field>

                <mat-form-field class="field-full-width">
                    <mat-label>Meta descripción</mat-label>
                    <textarea matInput formControlName="metadescripcion"
                    placeholder="Resumen corto del contenido de la entrada. No puede tener más de 160 caracteres."
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="5"
                    cdkAutosizeMaxRows="10"></textarea>
                </mat-form-field>
            </div>
        </section>

        <!-- CATEGORIA IMAGEN Y SEO -->
        <aside class="post-attributes">
            @if (post.imagen != null) {
                <div class="input-border imagenActual" #imagenActual>
                    <div class="text-center">
                        <h2>Imagen actual</h2>
                    </div>
                    <img src="{{ filesEndPoint + post.imagen }}" alt="Imagen actual del post">
                    <div class="text-center">
                        <button mat-flat-button class="btn-nuevaimg" (click)="nuevaImagen()">Nueva imagen</button>
                    </div>
                </div>
            }

            <div class="{{ post.imagen != null ? 'input-border oculto' : 'input-border'}}" #imagenNueva>                
                <mat-form-field appearance="fill">
                <mat-label>Imagen</mat-label>
                <div class="fileUploadContainer" [ngStyle]="{'margin-top' : postEditarForm.get('imagen')!.value ? '5px' :  '20px'}">
                    <ng-container *ngIf="postEditarForm.get('imagen')!.value">
                    <img [src]="postEditarForm.get('imagen')!.value" />
                    <button class="deleteButton" mat-icon-button (click)="fileInput.value = ''; postEditarForm.get('imagen')?.setValue(null);">
                        <mat-icon>close</mat-icon>
                    </button>
                    </ng-container>
                    <!-- no image -->
                    <div *ngIf="!postEditarForm.get('imagen')!.value" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
                    <mat-icon style="opacity: 60%;">file_upload</mat-icon>
                    <button mat-raised-button style="width:100%; opacity: 80%; color: var(--lightbrown)">Browser</button>
                    <small style="margin: 20px">Arrastra la imagen aquí</small>
                    </div>
                    <!-- put on top of the fileUploadContainer with opacity 0 -->
                    <input #fileInput class="fileInput" type="file" multiple="multiple" accept="image/*"
                    (change)="enviarImagen($event)" />
                </div>
                <input matInput formControlName="imagen" readonly [hidden]="true " />
                </mat-form-field>
            </div>

            <div class="input-border">
                <mat-form-field class="field-full-width">
                    <mat-label>Categoría</mat-label>
                    <mat-select formControlName="categoria" ngDefaultControl>
                        @if (categorias) {
                            @for (categoria of categorias; track categoria.id) {
                                <mat-option [value]="categoria.id">{{ categoria.nombre }}</mat-option>
                            }
                        }
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="input-border">
                <mat-form-field class="field-full-width">
                    <mat-label>Estado</mat-label>
                    <mat-select required formControlName="estado" ngDefaultControl>
                        <mat-option value="publicado">Publicado</mat-option>
                        <mat-option value="borrador">Borrador</mat-option>
                    </mat-select>
                </mat-form-field>

                <button mat-flat-button type="submit" (click)="editarPost()" class="btn-submit">Guardar</button>
            </div>
        </aside>
    </form>

    <button class="btn-ai" [disabled]="chatAbierto" (click)="abrirAiChat()">
        <mat-icon fontIcon="smart_toy" class="ai-icon"></mat-icon>
    </button>
</main>

<ng-template #AIchat>
    <app-aichat></app-aichat>
</ng-template>
