<h2>Gestionar consentimiento</h2>
<p>
    Para ofrecer las mejores experiencias, utilizamos tecnologías como las cookies para almacenar y/o acceder a la información del dispositivo.
    El consentimiento de estas tecnologías nos permitirá procesar datos como el comportamiento de navegación o las identificaciones únicas en este sitio.
    No consentir o retirar el consentimiento, puede afectar negativamente a ciertas características y funciones.
</p>
<div class="btn-consentimiento">
    <button mat-flat-button class="btn-aceptar" (click)="aceptarCookies(); openLink($event)">Aceptar</button>
    <button mat-flat-button class="btn-denegar" (click)="denegarCookies(); openLink($event)">Denegar</button>
</div>
<div class="txt-legal">
    <a href="aviso-legal">Aviso legal</a>
    <a href="politica-privacidad">Política de privacidad</a>
    <a href="politica-cookies">Política de cookies</a>
</div>