<div class="modal-header flex flex-row justify-between items-baseline">
    <h2 mat-dialog-title>{{ data.title }}</h2>
    <button (click)="dialogService.closeAll()" mat-flat-button style="width: 20px; background-color: var(--lightbrown); margin-right: 1rem; border-radius: 1rem;">X</button>
</div>
<mat-dialog-content class="mat-typography">
    <ng-container *ngTemplateOutlet="data.html"></ng-container> 
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close *ngIf="data.btnCancel" [class]="data.btnCancel">Cancelar</button>
    <button mat-button *ngIf="data.btnClass" [class]="data.btnClass" color="primary" (click)="confirmar()" cdkFocusInitial>Confirmar</button>
</mat-dialog-actions>