// Constantes para las media queries
$mobileMAX: 767px;
$tabletMIN: 768px;
$tabletMAX: 1023px;

main {
    display: flex;
    margin: 2rem;

    @media (max-width: $tabletMAX) {
        flex-direction: column;
        margin: 1rem;
    }
}

// SECTION: POST
.post {
    text-align: center;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media (max-width: $tabletMAX) {
        width: 100%;
    }
}

.post h1 {
    font-size: var(--lengthLg1);
}

.post img {
    max-width: 500px;
    margin: 0 auto;

    @media (max-width: $mobileMAX) {
        max-width: 300px;
    }

    @media (max-width: $tabletMAX) {
        max-width: 400px;
    }
}

p.post-content {
    white-space: pre-line;
    text-align: start;
}

// ASIDE: LAST POSTS
aside {
    margin: 2rem 0;
}

.lastposts {
    width: 30%;
    //margin: 2rem 2rem 0 0;

    @media (max-width: $tabletMAX) {
        width: 100%;
    }
}

.lastposts h3 {
    text-align: center;
    font-size: var(--lengthMd3);
}

.lastposts-container {
    @media (max-width: $tabletMAX) {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
}

.lastposts article {
    margin: 2rem 0;
    max-width: 40vh;
}

a{
    color: var(--lightbrown);
    padding: 0 0.5rem;
}

a:hover{
    color: var(--dark);
}
