<!-- HEADER -->
<app-header></app-header>

<main>
    <section class="post py-12 pt-12 lg:px-24 md:px-5">
        @if (post) {
            <h1 class="txt-lightbrown">{{ post.titulo }}</h1>
            <p>Publicado el {{ post.created_at | date: 'fullDate' }} | Categoría: {{ post.categoria != null ? post.categoria : 'Sin categoría' }}</p>
            @if (post.imagen) {
                <img src="{{ filesEndPoint + post.imagen }}&sz=w500" alt="Imagen de portada del post">
            } @else {
                <img src="assets/img/sinimagen.png" alt="Sin imagen">
            }
            <p class="post-content">{{ post.contenido }}</p>

        } @else {
            <p>No se ha encontrado el post.</p>
        }
        
    </section>
    <aside class="lastposts">
        <h3>Últimos posts</h3>
        <div class="lastposts-container">
            @for (post of lastposts; track post.id) {
                <article>
                    <mat-card class="post-card" appearance="outlined">
                        @if (post.imagen) {
                            <img mat-card-image src="{{ filesEndPoint + post.imagen }}" alt="Imagen de portada del post">
                        } @else {
                            <img mat-card-image src="assets/img/sinimagen.png" alt="Sin imagen">
                        }
                        <mat-card-header>
                            <mat-card-title class="txt-lightbrown font-semibold">{{ post.titulo }}</mat-card-title>
                            @if (post.categoria != null) {
                                <mat-card-subtitle>{{ post.categoria }}</mat-card-subtitle>
                            } @else {
                                <mat-card-subtitle>Sin categoría</mat-card-subtitle>
                            }
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                            {{ post.contenido!.length > 60 ? (post.contenido | slice: 0 : 60) + '...' : post.contenido}}
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <a routerLink="/blog/{{ post.slug}}">Leer más</a>
                        </mat-card-actions>
                    </mat-card>
                </article>
            } @empty {
                <p>No se han encontrado posts.</p>
            }
        </div>
    </aside>
</main>

<!-- FOOTER -->
<app-footer></app-footer>
