<!-- HEADER -->
<app-header></app-header>

<main>
    <section class="post py-12 pt-12 lg:px-24 md:px-5">
        @if (post) {
            <h1 class="txt-lightbrown">{{ post.titulo }}</h1>
            <p>Publicado el {{ post.created_at | date: 'fullDate' }} | Categoría: {{ post.categoria }}</p>
            <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <p class="post-content">{{ post.contenido }}</p>

        } @else {
            <p>No se ha encontrado el post.</p>
        }
        
    </section>
    <aside class="lastposts">
        <h3>Últimos posts</h3>
        <div class="lastposts-container">
            @for (post of lastposts; track post.id) {
                <article class="">
                    <mat-card class="post-card" appearance="outlined">
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-header>
                            <mat-card-title class="txt-lightbrown font-semibold">{{ post.titulo }}</mat-card-title>
                            <mat-card-subtitle>{{ post.categoria }}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                            {{ post.contenido!.length > 20 ? (post.contenido | slice: 0 : 20) + '...' : post.contenido}}
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <a routerLink="/blog/{{ post.slug}}">Leer más</a>
                        </mat-card-actions>
                    </mat-card>
                </article>
            }
        </div>
    </aside>
</main>

<!-- FOOTER -->
<app-footer></app-footer>
