// Constantes para las media queries
$mobileMAX: 767px;
$tabletMIN: 768px;
$tabletMAX: 1023px;

/* HERO */
.hero {
    background-color: var(--dark);
}

.hero-body {
    min-height: 200px;

    @media (max-width: $mobileMAX) {
        min-height: 150px;
    }
}

.hero-body h1{
    @media (max-width: $mobileMAX) {
        font-size: var(--lengthMd3);
    }
}

.hero-body h3{
    font-family: 'Nunito';
    font-weight: 400;
    color: white;

    @media (max-width: $mobileMAX) {
        font-size: var(--lengthMd1);
    }
}

.perro {
    margin-bottom: -136px;

    @media (max-width: $mobileMAX) {
        margin-bottom: -110px;
    }
}

.gato {
    margin-bottom: -91px;

    @media (max-width: $mobileMAX) {
        margin-bottom: -83px;
    }
}

.perro img, .gato img {
    @media (max-width: $mobileMAX) {
        width: 7rem;
    }
}

/* SECCIÓN CONTACT*/
section.contact {
    @media (max-width: $mobileMAX) {
        flex-direction: column;
        gap: 4rem;
        padding-top: 3rem;
    }
}

.form, .contact-info{
    width: 50%;
    padding: 0 4rem;

    @media (min-width: $tabletMIN) and (max-width: $tabletMAX) {
        width: 100%;
    }

    @media (max-width: $mobileMAX) {
        width: 100%;
    }
}

.form button {
    color: white;
    background-color: var(--lightbrown);
    padding: 0 5rem;
}

hr{
    width: 30vh;
    border: 1px solid;
    color: var(--lightbrown);
    margin: 1.5rem 0;
    display: inline-block; // Para que no se mueva al poner cosas en el mismo div
}

iframe{
    @media (max-width: $mobileMAX) {
        max-width: fit-content;
    }
}

button.btn-aceptar {
    margin-top: 1rem;
    background-color: var(--lightbrown);
}

/* #modal:active, #modal:hover, #modal:visited, #modal:link {
    visibility: hidden;
} */