<!-- HEADER -->
<app-header></app-header>

<main>
    <!-- HERO -->
    <section class="hero">
        <div class="hero-body flex flex-row justify-evenly items-center">
            <div class="perro">
                <img class="w-44" src="../../../assets/img/perro_contacto.webp" alt="perro">
            </div>
            <div class="text text-center">
                <h1 class="txt-lightbrown font-semibold lg:text-6xl md:text-4xl mb-4">CONTACTO</h1>
                <h3 class="lg:text-xl md:text-base">¡Somos todo oídos!</h3>
            </div>
            <div class="gato">
                <img class="w-44" src="../../../assets/img/gato_contacto.webp" alt="gato">
            </div>
        </div>
    </section>

    <!-- FORM CONTACT + CONTACT INFO -->
    <section class="contact py-12 pt-28 lg:px-10 md:px-5 flex lg:flex-row md:flex-col justify-around md:gap-20">
        <div class="form text-center">
            <h3 class="lg:text-xl md:text-base">Tu consulta</h3>
            <hr>
            <div class="form-description mb-8">
                <p><b>¡Hablemos sobre tu mejor amigo!</b> 🐶🐱</p>
                <p>
                    Queremos conocerte a ti y a tu mascota. Completa este formulario y nos aseguraremos de responder lo más pronto posible.
                </p>
                <p><b>¡IMPORTANTE!</b> Si tu pequeño necesita ayuda inmediata, no esperes, llámanos ahora. Porque su salud y felicidad
                       son nuestra prioridad.
                </p>
            </div>
            <form [formGroup]="contactForm">
                <mat-grid-list class="input-list" cols="2" [rowHeight]="rowHeight" gutterSize="10px">
                    <mat-grid-tile [colspan]="1" [rowspan]="2">
                        <mat-form-field class="nombre-input form-field" [style.width.%]="100" [style.gap.%]="10">
                            <mat-label>Nombre:</mat-label>
                            <input type="text" matInput placeholder="" value="" formControlName="nombre" required>
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="1" [rowspan]="2">
                        <mat-form-field class="apellidos-input form-field" [style.width.%]="100" [style.gap.%]="10">
                            <mat-label>Apellidos:</mat-label>
                            <input type="text" matInput placeholder="" value="" formControlName="apellidos" required>
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="1" [rowspan]="2">
                        <mat-form-field class="email-input form-field" [style.width.%]="100" [style.gap.%]="10">
                            <mat-label>Email:</mat-label>
                            <input type="email" matInput placeholder="" value="" formControlName="email" required>
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="1" [rowspan]="2">
                        <mat-form-field class="telefono-input form-field" [style.width.%]="100" [style.gap.%]="10">
                            <mat-label>Teléfono:</mat-label>
                            <input type="number" matInput placeholder="" value="" formControlName="telefono" required>
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="2" [rowspan]="2">
                        <mat-form-field class="asunto-input form-field" [style.width.%]="100" [style.gap.%]="10">
                            <mat-label>Asunto:</mat-label>
                            <input type="text" matInput placeholder="" value="" formControlName="asunto" required>
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="2" [rowspan]="5">
                        <mat-form-field class="textarea-input example-full-width" [style.width.%]="100">
                            <mat-label>Mensaje:</mat-label>
                            <textarea matInput cdkTextareaAutosize
                            #autosize="cdkTextareaAutosize"
                            cdkAutosizeMinRows="7"
                            cdkAutosizeMaxRows="10" type="textarea" formControlName="mensaje" required></textarea>
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>
                <button mat-flat-button class="mt-6" (click)="enviarMensaje()">Enviar</button>
            </form>
        </div>
        <div class="contact-info text-center flex flex-col items-center">
            <h3 class="lg:text-xl md:text-base">Datos de contacto</h3>
            <hr>
            <div>
                <p class="contact-info-item text-left">
                    <b>Teléfono</b>: 951234567
                </p>
                <p class="contact-info-item text-left">
                    <b>Correo electrónico</b>: info&#64;clinicalahuella.es
                </p>
                <p class="contact-info-item text-left">
                    <b>Dirección</b>: Avda. de pruebas 25
                </p>
            </div>

            <hr>

            <!-- GOOGLE MAPS -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6397.621123447296!2d-4.457154824317049!3d36.703089872274944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd72f7615ee57f89%3A0x491add567f2aaf25!2sEl%20Duende%2C%20Cruz%20de%20Humilladero%2C%2029006%20M%C3%A1laga!5e0!3m2!1ses!2ses!4v1735774809410!5m2!1ses!2ses" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
</main>


<!-- FOOTER -->
<app-footer></app-footer>