<main>
    <section class="encabezado flex flex-row items-center gap-6">
        <h1>Newsletters</h1>
        <button mat-stroked-button class="nuevo" (click)="modalCrearNewsletter()">Añadir suscripción</button>
    </section>

    <section class="newsletters">
        @if(newsletters) {
            
            <app-datatable [columns]="columns" [displayedColumns]="displayedColumns" [data]="newsletters"
             (selectionChange)="onSelectionChange($event)" [buttons]="botones" [eliminarSeleccionados]="modalEliminarSeleccionNewsletters.bind(this)">
            </app-datatable>
            
        } @else {
            <p>No hay posts.</p>
        }
    </section>
</main>

<!-- CONTENIDO DEL MODAL PARA CREAR NEWSLETTER -->
<ng-template #contentNuevo>
    <div class="modalNuevo">
        <form [formGroup]="crearNewsForm" class="newsletter-form">
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Indica el email" formControlName="email_nuevo" ngDefaultControl required>
            </mat-form-field>
        </form>
    </div>
</ng-template>

<!-- CONTENIDO DEL MODAL PARA EDITAR NEWSLETTER -->
<ng-template #contentEditar>
    <div class="modalEditar">
        <form [formGroup]="editarNewsForm" class="newsletter-form">
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email_editar" ngDefaultControl required>
            </mat-form-field>
        </form>
    </div>
</ng-template>

<!-- CONTENIDO DEL MODAL PARA ELIMINAR NEWSLETTER -->
<ng-template #contentEliminar>
    <div class="modalEliminar">
        ¿Estás seguro de querer eliminar la suscripción de "{{ newsletter.email }}"?
    </div>
</ng-template>

<!-- CONTENIDO DEL MODAL PARA ELIMINAR LA SELECCIÓN DE NEWSLETTERS -->
<ng-template #contentEliminarSeleccion>
    <div class="modalEliminarSeleccion">
        ¿Estás seguro de querer las suscripciones seleccionadas?
        <br>
        <span class="caution">¡OJO! Si has pulsado el botón para seleccionar todo, se eliminarán todos las suscripciones, incluidas aquellas que no aparezcan en la vista actual.</span>
    </div>
</ng-template>
