$mobileMAX: 767px;
$tabletMIN: 768px;
$tabletMAX: 1023px;
$laptopMIN: 1024px;
$laptopMAX: 1201px;


.mat-mdc-button, .mat-mdc-unelevated-button, .mat-mdc-raised-button, .mat-mdc-outlined-button {
    position: fixed;
    border-radius: 1rem 1rem 0 0;
    color: var(--lightbrown) !important;
    z-index: 999;
    height: 50px;
    bottom: 0rem;
    right: 1rem;
}
