$mobileMAX: 767px;
$tabletMIN: 768px;
$tabletMAX: 1023px;
$laptopMIN: 1024px;
$laptopMAX: 1201px;


.mat-mdc-button, .mat-mdc-unelevated-button, .mat-mdc-raised-button, .mat-mdc-outlined-button {
    position: fixed;
    border-radius: 1rem 1rem 0 0;
    color: var(--lightbrown) !important;
    z-index: 999;
    height: 50px;
    top: 43rem;
    right: 1rem;

    // LAPTOP
    @media (min-width: $laptopMIN) and (max-width: $laptopMAX) {
        height: 85px;
        top: 77rem;
        right: 3rem;
    }

    // TABLET
    @media (min-width: $tabletMIN) and (max-width: $tabletMAX) {
        height: 68px;
        top: 53rem;
        right: 1rem;
    }

    // MOBILE
    @media (max-width: $mobileMAX) {
        height: 50px;
        top: 38rem;
        right: 1rem;
    }
}
