<!-- HEADER -->
<app-header></app-header>

<main>
    <!-- HERO -->
    <section class="hero">
        <div class="hero-body flex flex-row justify-evenly items-center">
            <div class="perro">
                <img class="w-44" src="assets/img/perro_contacto.webp" alt="perro">
            </div>
            <div class="text text-center">
                <h1 class="txt-lightbrown font-semibold lg:text-6xl md:text-4xl mb-4">Blog</h1>
                <h3 class="lg:text-xl md:text-base">¡Las últimas noticias!</h3>
            </div>
            <div class="gato">
                <img class="w-44" src="assets/img/gato_contacto.webp" alt="gato">
            </div>
        </div>
    </section>

    <!-- BLOG POSTS -->
    <section class="blog py-12 pt-28 lg:px-24 md:px-5">

      <div class="posts">
        @for (post of paginatedData; track post.id) {
          <article>
            <mat-card class="post-card" appearance="outlined">
              <!-- Poner un if para el caso en que el post no tenga imagen, y usar environment para guardar url del directorio -->
              <div class="img-container">
                @if (post.imagen != null) {
                  <img mat-card-image src="{{ filesEndPoint + post.imagen }}&sz=w400" alt="Foto de portada del post">
                } @else {
                  <img mat-card-image src="assets/img/sinimagen.png" alt="Sin categoria">
                }
              </div>
              <mat-card-header>
                <mat-card-title class="txt-lightbrown font-semibold">{{ post.titulo }}</mat-card-title>
                @if (post.categoria != null) {
                  <mat-card-subtitle>{{ post.categoria }}</mat-card-subtitle>
                } @else {
                  <mat-card-subtitle>Sin categoría</mat-card-subtitle>
                }
              </mat-card-header>
              <mat-card-content>
                <p>
                  {{ post.contenido!.length > 20 ? (post.contenido | slice: 0 : 20) + '...' : post.contenido}}
                </p>
              </mat-card-content>
              <mat-card-actions>
                <a routerLink="/blog/{{ post.slug }}">Leer más</a>
              </mat-card-actions>
            </mat-card>
          </article>
        } @empty {
          <p>No se han encontrado posts.</p>
        }
      </div>
    
      <!-- Paginator -->
      @if (posts) {
        <mat-paginator class="paginator"
          [length]="posts.length"
          [pageSize]="pageSize"
          aria-label="select page"
          hidePageSize="true"
          (page)="onPageChange($event)">
        </mat-paginator>
      }

    </section>
</main>

<!-- FOOTER -->
<app-footer></app-footer>
