button.dangerAll{
    margin: 1rem 2rem;
    background-color: red;
    color: white;
    border: none;
}

td button.ver, td button.editar{
    margin-right: 1rem;
    color: var(--dark);
}

button.danger{
    background-color: red;
    color: white !important;
    border: none;
}

.imageGaleria{
    max-width: 100px;
}