.login-section{
    margin: 0 auto;
}

.logo-app{
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.logo-app img{
    width: 35%;
}

.login-card{
    padding: 1rem;
}

.login-card mat-card-header{
    justify-content: center;
}

.login-card mat-card-title {
    margin: 1rem 0;
}

.login-card mat-card-footer{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.checkbox{
    margin-left: 0.5rem;
}

button.acceder{
    width: 30%;
    margin: 1em 1rem 1rem 2rem;
    text-align: center;
    color: white;
    background-color: var(--lightbrown);
}

// Links
.links{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 2rem;
    margin: 2rem;
}

.links a{
    text-decoration: none;
    color: var(--dark);
}

.links a:hover{
    color: var(--lightbrown);
}

// Política de privacidad
.politica{
    text-align: center;
    margin: 3rem 0;
}

.politica a{
    color: var(--lightbrown);
}

// DESKTOP
@media only screen and (min-width: 1367px) {
    .login-section{
        width: 30%;
        padding: 5rem 0;
    }
}

// MÓVIL
@media only screen and (max-width: 767px) {
    .login-section{
        width: 100%;
        padding: 2rem 1rem;
    }
}

// TABLET
@media only screen and (min-width: 768px) and (max-width: 1366px) {
    .login-section{
        width: 50%;
        padding: 3rem 0;
    }
}