<main>
    <section class="encabezado flex flex-row items-center gap-6">
        <h1>Mensajes</h1>
        <button mat-stroked-button class="nuevo" (click)="modalCrearMensaje()">Añadir mensaje</button>
    </section>

    <section class="mensajes">
        <div class="tabla-mensajes">
            @if(mensajes) {
            
                <app-datatable [columns]="columns" [displayedColumns]="displayedColumns" [data]="mensajes"
                 (selectionChange)="onSelectionChange($event)" [buttons]="botones" [eliminarSeleccionados]="deleteSeleccionMensajes.bind(this)">
                </app-datatable>
                
            } @else {
                <p>No hay mensajes.</p>
            }
        </div>
    </section>
</main>

<!-- CONTENIDO DEL MODAL PARA VER MENSAJE -->
<ng-template #contentVer>
    <div class="modalVer">
        <div class="mensaje-data">
            <h3>Nombre</h3>
            <p>{{ mensajeVer.nombre }}</p>
        </div>
        
        <div class="mensaje-data">
            <h3>Apellidos</h3>
            <p>{{ mensajeVer.apellidos }}</p>
        </div>

        <div class="mensaje-data">
            <h3>Email</h3>
            <p>{{ mensajeVer.email }}</p>
        </div>

        <div class="mensaje-data">
            <h3>Teléfono</h3>
            <p>{{ mensajeVer.apellidos }}</p>
        </div>

        <div class="mensaje-data">
            <h3>Asunto</h3>
            <p>{{ mensajeVer.asunto }}</p>
        </div>

        <div class="mensaje-data">
            <h3>Mensaje</h3>
            <p>{{ mensajeVer.mensaje }}</p>
        </div>
        
    </div>
</ng-template>

<!-- CONTENIDO DEL MODAL PARA CREAR MENSAJES -->
<ng-template #contentNuevo>
    <div class="modalNuevo">
        <form [formGroup]="crearMensajeForm" class="nuevomensaje-form">
            <mat-form-field class="example-full-width">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombre_nuevo" ngDefaultControl required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Apellidos</mat-label>
                <input matInput formControlName="apellidos_nuevo" ngDefaultControl required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email_nuevo" ngDefaultControl required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Teléfono</mat-label>
                <input matInput formControlName="telefono_nuevo" type="number" ngDefaultControl required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Asunto</mat-label>
                <input matInput formControlName="asunto_nuevo" ngDefaultControl required>
            </mat-form-field>

            <mat-form-field class="textarea-input example-full-width" [style.width.%]="100">
                <mat-label>Mensaje</mat-label>
                <textarea matInput cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="7"
                    cdkAutosizeMaxRows="10" type="textarea" formControlName="mensaje_nuevo" required></textarea>
            </mat-form-field>
        </form>
    </div>
</ng-template>

<!-- CONTENIDO DEL MODAL PARA EDITAR MENSAJE -->
<ng-template #contentEditar>
    <div class="modalEditar">
        <form [formGroup]="editarMensajeForm" class="nuevomensaje-form">
            <mat-form-field class="example-full-width">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombre_editar" ngDefaultControl required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Apellidos</mat-label>
                <input matInput formControlName="apellidos_editar" ngDefaultControl required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email_editar" ngDefaultControl required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Teléfono</mat-label>
                <input matInput formControlName="telefono_editar" type="number" ngDefaultControl required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Asunto</mat-label>
                <input matInput formControlName="asunto_editar" ngDefaultControl required>
            </mat-form-field>

            <mat-form-field class="textarea-input example-full-width" [style.width.%]="100">
                <mat-label>Mensaje</mat-label>
                <textarea matInput cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="7"
                    cdkAutosizeMaxRows="10" type="textarea" formControlName="mensaje_editar" required></textarea>
            </mat-form-field>
        </form>
    </div>
</ng-template>

<!-- CONTENIDO DEL MODAL PARA ELIMINAR MENSAJE -->
<ng-template #contentEliminar>
    <div class="modalEliminar">
        ¿Estás seguro de querer eliminar el mensaje de "{{ mensaje.nombre }} {{ mensaje.apellidos }}"?
    </div>
</ng-template>

<!-- CONTENIDO DEL MODAL PARA ELIMINAR LA SELECCIÓN DE MENSAJES -->
<ng-template #contentEliminarSeleccion>
    <div class="modalEliminarSeleccion">
        ¿Estás seguro de querer las suscripciones seleccionadas?
        <br>
        <span class="caution">¡OJO! Si has pulsado el botón para seleccionar todo, se eliminarán todos las suscripciones, incluidas aquellas que no aparezcan en la vista actual.</span>
    </div>
</ng-template>