<footer>
    <section class="footer-body flex justify-evenly py-12">
        <div class="footer-item footer-image">
            <img class="w-48" src="../../../assets/logo/lahuella.png" alt="logo-lahuella">
        </div>
        <div class="footer-item">
            <h2 class="txt-lightbrown lg:text-xl md:text-base">MENÚ</h2>
            <nav class="menu-footer flex flex-col gap-3 pt-4">
                <a routerLink="" class="menu-footer-item lg:text-base md:text-sm">Inicio</a>
                <a routerLink="/blog" class="menu-footer-item lg:text-base md:text-sm">Blog</a>
                <a routerLink="/contacto" class="menu-footer-item lg:text-base md:text-sm">Contacto</a>
                <a routerLink="/solicitar-cita" class="menu-footer-item lg:text-base md:text-sm">Reservar cita</a>
            </nav>
        </div>
        <div class="footer-item">
            <h2 class="txt-lightbrown lg:text-xl md:text-base">TEXTOS LEGALES</h2>
            <nav class="menu-legal flex flex-col gap-3 pt-4">
                <a routerLink="/aviso-legal" class="menu-legal-item lg:text-base md:text-sm">Aviso legal</a>
                <a routerLink="/politica-cookies" class="menu-legal-item lg:text-base md:text-sm">Política de cookies</a>
                <a routerLink="/politica-privacidad" class="menu-legal-item lg:text-base md:text-sm">Política de privacidad</a>
            </nav>
        </div>
        <div class="footer-item">
            <h2 class="txt-lightbrown lg:text-xl md:text-base">Redes sociales</h2>
            <nav class="menu-rrss flex flex-row gap-3 pt-4">
                <a routerLink="" class="menu-rrss-item"><img class="w-10" src="../../../assets/img/twitter.webp" alt="twitter"></a>
                <a routerLink="" class="menu-rrss-item"><img class="w-10" src="../../../assets/img/facebook.webp" alt="facebook"></a>
                <a routerLink="" class="menu-rrss-item"><img class="w-10" src="../../../assets/img/instagram.webp" alt="instagram"></a>
            </nav>
        </div>
    </section>
    <section class="copyright py-4">
        <p class="text-center">Creado por <a href="https://juanlu-portfolio.infinityfreeapp.com">Juan Luis Talavera Peláez</a></p>
    </section>
</footer>
