<main>
    <section class="encabezado flex flex-row items-center gap-6">
        <h1>Reservas</h1>
        <button mat-stroked-button class="nuevo" (click)="modalCrearReserva()">Añadir reserva</button>
    </section>

    <section class="reservas">
        @if(reservas) {
            
            <app-datatable [columns]="columns" [displayedColumns]="displayedColumns" [data]="reservas"
             (selectionChange)="onSelectionChange($event)" [buttons]="botones" [eliminarSeleccionados]="modalEliminarSeleccionReservas.bind(this)">
            </app-datatable>
            
        } @else {
            <p>No hay posts.</p>
        }
    </section>
</main>

<!-- CONTENIDO DEL MODAL PARA VER RESERVA -->
<ng-template #contentVer>
    <div class="modalVer">
        <div class="mensaje-data">
            <h3>Nombre</h3>
            <p>{{ reserva.nombre }}</p>
        </div>
        
        <div class="mensaje-data">
            <h3>Apellidos</h3>
            <p>{{ reserva.apellidos }}</p>
        </div>

        <div class="mensaje-data">
            <h3>Email</h3>
            <p>{{ reserva.email }}</p>
        </div>

        <div class="mensaje-data">
            <h3>Teléfono</h3>
            <p>{{ reserva.telefono }}</p>
        </div>

        <div class="mensaje-data">
            <h3>Fecha</h3>
            <p>{{ reserva.fecha | date:'shortDate' }}</p>
        </div>

        <div class="mensaje-data">
            <h3>Hora</h3>
            <p>{{ reserva.hora }}</p>
        </div>
        
    </div>
</ng-template>

<!-- CONTENIDO DEL MODAL PARA CREAR RESERVAS -->
<ng-template #contentNuevo>
    <form [formGroup]="nuevaReservaForm">
        <mat-grid-list class="input-list" cols="2" [rowHeight]="rowHeight">
            <mat-grid-tile [colspan]="2" [rowspan]="2">
                <mat-form-field class="nombre-input form-field" [style.width.%]="100" [style.gap.%]="10">
                    <mat-label>Nombre:</mat-label>
                    <input type="text" matInput placeholder="" value="" formControlName="nombre_nuevo" required>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="2">
                <mat-form-field class="apellidos-input form-field" [style.width.%]="100" [style.gap.%]="10">
                    <mat-label>Apellidos:</mat-label>
                    <input type="text" matInput placeholder="" value="" formControlName="apellidos_nuevo" required>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="2">
                <mat-form-field class="email-input form-field" [style.width.%]="100" [style.gap.%]="10">
                    <mat-label>Email:</mat-label>
                    <input type="email" matInput placeholder="" value="" formControlName="email_nuevo" required>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="2">
                <mat-form-field class="telefono-input form-field" [style.width.%]="100" [style.gap.%]="10">
                    <mat-label>Teléfono:</mat-label>
                    <input type="text" matInput placeholder="" value="" formControlName="telefono_nuevo" required>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="2">
                <mat-form-field class="fecha-input form-field" [style.width.%]="100" [style.gap.%]="10">
                    <mat-label>Selecciona una fecha</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="fecha_nuevo">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="2">
                <mat-form-field class="fecha-input form-field" [style.width.%]="100" [style.gap.%]="10">
                    <div class="flex items-start">
                        <input matInput aria-label="Seleccionar hora" placeholder="Selecciona una hora" [ngxTimepicker]="toggleTimepicker" [disableClick]="true" [format]="24" readonly formControlName="hora_nuevo">
                        <ngx-material-timepicker-toggle [for]="toggleTimepicker"></ngx-material-timepicker-toggle>
                        <ngx-material-timepicker #toggleTimepicker [theme]="lahuellaTheme" [cancelBtnTmpl]="cancelBtn"
                        [confirmBtnTmpl]="confirmBtn"></ngx-material-timepicker>

                        <!-- BUTTONS FOR TIMEPICKER TOOGLE -->
                        <ng-template #cancelBtn>
                            <button style="margin-right: 10px">Cancelar</button>
                        </ng-template>
                        <ng-template #confirmBtn>
                            <button style="color:var(--lightbrown)">Confirmar</button>
                        </ng-template>
                    </div>
                </mat-form-field>
            </mat-grid-tile>
                    
        </mat-grid-list>
    </form>
</ng-template>

<!-- CONTENIDO DEL MODAL PARA EDITAR RESERVA -->
<ng-template #contentEditar>
    <form [formGroup]="editarReservaForm">
        <mat-grid-list class="input-list" cols="2" [rowHeight]="rowHeight">
            <mat-grid-tile [colspan]="2" [rowspan]="2">
                <mat-form-field class="nombre-input form-field" [style.width.%]="100" [style.gap.%]="10">
                    <mat-label>Nombre:</mat-label>
                    <input type="text" matInput placeholder="" formControlName="nombre_editar" required>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="2">
                <mat-form-field class="apellidos-input form-field" [style.width.%]="100" [style.gap.%]="10">
                    <mat-label>Apellidos:</mat-label>
                    <input type="text" matInput placeholder="" formControlName="apellidos_editar" required>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="2">
                <mat-form-field class="email-input form-field" [style.width.%]="100" [style.gap.%]="10">
                    <mat-label>Email:</mat-label>
                    <input type="email" matInput placeholder="" formControlName="email_editar" required>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="2">
                <mat-form-field class="telefono-input form-field" [style.width.%]="100" [style.gap.%]="10">
                    <mat-label>Teléfono:</mat-label>
                    <input type="text" matInput placeholder="" formControlName="telefono_editar" required>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="2">
                <mat-form-field class="fecha-input form-field" [style.width.%]="100" [style.gap.%]="10">
                    <mat-label>Selecciona una fecha</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="fecha_editar">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="2">
                <mat-form-field class="fecha-input form-field" [style.width.%]="100" [style.gap.%]="10">
                    <div class="flex items-start">
                        <input matInput aria-label="Seleccionar hora" placeholder="Selecciona una hora" [ngxTimepicker]="toggleTimepicker" [disableClick]="true" [format]="24" readonly formControlName="hora_editar">
                        <ngx-material-timepicker-toggle [for]="toggleTimepicker"></ngx-material-timepicker-toggle>
                        <ngx-material-timepicker #toggleTimepicker [theme]="lahuellaTheme" [cancelBtnTmpl]="cancelBtn"
                        [confirmBtnTmpl]="confirmBtn"></ngx-material-timepicker>

                        <!-- BUTTONS FOR TIMEPICKER TOOGLE -->
                        <ng-template #cancelBtn>
                            <button style="margin-right: 10px">Cancelar</button>
                        </ng-template>
                        <ng-template #confirmBtn>
                            <button style="color:var(--lightbrown)">Confirmar</button>
                        </ng-template>
                    </div>
                </mat-form-field>
            </mat-grid-tile>
                    
        </mat-grid-list>
    </form>
</ng-template>

<!-- CONTENIDO DEL MODAL PARA ELIMINAR RESERVA -->
<ng-template #contentEliminar>
    <div class="modalEliminar">
        ¿Estás seguro de querer eliminar la reserva de "{{ reserva.nombre }} {{ reserva.apellidos }}"?
    </div>
</ng-template>

<!-- CONTENIDO DEL MODAL PARA ELIMINAR LA SELECCIÓN DE RESERVAS -->
<ng-template #contentEliminarSeleccion>
    <div class="modalEliminarSeleccion">
        ¿Estás seguro de querer eliminar las reservas seleccionadas?
        <br>
        <span class="caution">¡OJO! Si has pulsado el botón para seleccionar todo, se eliminarán todos las reservas, incluidas aquellas que no aparezcan en la vista actual.</span>
    </div>
</ng-template>
