<!-- HEADER -->
<app-header />

<main>
    <section class="avisolegal">
        <h1>Aviso legal</h1>

        <div class="avisolegal-container">
            <h2>I. INFORMACIÓN GENERAL</h2>
            <p>
                En cumplimiento con el deber de información dispuesto en la Ley 34/2002 de Servicios de la Sociedad de la Información y del Comercio Electrónico
                (LSSI-CE) de 11 de julio, se facilitan a continuación los siguientes datos de información general de este sitio web:
            </p>
            <ul>
                <li>Titular del sitio web: Juan Luis Talavera Peláez</li>
                <li>Nombre del sitio: Clínica La Huella</li>
                <li>Correo electrónico: jcooldevelopment&#64;gmail.com</li>
            </ul>

            <h2>II. OBJETO</h2>
            <p>
                El presente Aviso Legal regula las condiciones de uso de Clínica La Huella en adelante, "el Sitio Web". El acceso y uso del Sitio Web atribuye la condición
                de usuario e implica la aceptación plena y sin reservas de todas y cada una de las disposiciones incluidas en este Aviso Legal.
            </p>

            <h2>III. USO DEL SITIO WEB</h2>
            <p>
                El usuario se compromete a utilizar el Sitio Web de conformidad con la ley, la moral, las buenas costumbres y el orden público. Asimismo, se obliga
                a no utilizar el Sitio Web con fines ilícitos o lesivos de derechos o intereses de terceros, o de forma que pueda dañar, inutilizar, sobrecargar o
                deteriorar el Sitio Web, impidiendo su normal utilización.
            </p>

            <h2>IV. CARÁCTER EDUCATIVO Y FICTICIO DE LOS CONTENIDOS</h2>
            <p>
                Este Sitio Web tiene un propósito exclusivamente educativo, orientado al aprendizaje de programación. Todos los posts y
                servicios presentados en el Sitio Web son ficticios y no tienen validez legal ni comercial. No se procesan pagos reales ni se
                realizan servicios de ningún tipo. Cualquier dato proporcionado por el usuario en formularios de reservas o similares será tratado únicamente con fines educativos
                y no será utilizado para transacciones reales.
            </p>

            <h2>V. PROPIEDAD INTELECTUAL E INDUSTRIAL</h2>
            <p>
                Los derechos de propiedad intelectual e industrial sobre el Sitio Web, incluyendo su diseño, estructura, código fuente, textos y cualquier otro contenido
                original, pertenecen al titular del Sitio web y están protegidos por la normativa española e internacional sobre propiedad intelectual e industrial.
            </p>
            <ul>
                <li>
                    Contenido propio: El código fuente del Sitio Web, así como el diseño y los textos publicados, son de autoría propia del titular del Sitio web.
                </li>
                <li>
                    Imágenes: Las imágenes utilizadas en este Sitio Web han sido obtenidas de bancos de imágenes que ofrecen contenido sin derechos de autor o bajo
                    licencias de uso libre, cumpliendo con las condiciones estipuladas por dichos proveedores.
                </li>
                <li>
                    Iconos y fuentes: Los iconos utilizados en el Sitio Web son proporcionados por Google Fonts, de acuerdo con los términos y condiciones establecidos
                    por esta plataforma.
                </li>
                <li>
                    Otros elementos: El Sitio Web puede contener elementos desarrollados por terceros que se utilizan conforme a sus respectivas licencias.
                </li>
            </ul>
            <p>
                Se prohíbe la reproducción, distribución, comunicación pública, transformación o cualquier otra actividad similar de los contenidos del Sitio Web sin
                el consentimiento previo y por escrito del titular del Sitio web, salvo cuando se indique expresamente lo contrario o cuando dichos contenidos se encuentren
                bajo licencias libres.
                El usuario se compromete a respetar los derechos de propiedad intelectual e industrial del Sitio Web y de los terceros que proveen contenidos o 
                servicios a través de esta plataforma.
            </p>

            <h2>VI. EXCLUSIÓN DE GARANTÍAS Y RESPONSABILIDAD</h2>
            <p>
                El contenido de este Sitio Web es de carácter general y tiene una finalidad exclusivamente educativa, sin que se garantice plenamente el acceso a todos
                los contenidos, ni su exhaustividad, corrección, vigencia o actualidad, ni su idoneidad o utilidad para un objetivo específico. El titular del Sitio Web
                excluye, hasta donde permite el ordenamiento jurídico, cualquier responsabilidad por los daños y perjuicios de toda naturaleza derivados de:
            </p>
            <ul>
                <li>La imposibilidad de acceso al Sitio Web o la falta de veracidad, exactitud, exhaustividad y/o actualidad de los contenidos, así como la existencia
                    de vicios y defectos de toda clase de los contenidos transmitidos, difundidos, almacenados, puestos a disposición a los que se haya accedido a través
                    del Sitio Web o de los servicios que se ofrecen.
                </li>
                <li>
                    La presencia de virus u otros elementos en los contenidos que puedan producir alteraciones en los sistemas informáticos, documentos electrónicos o datos
                    de los usuarios.
                </li>
                <li>
                    El incumplimiento de las leyes, la buena fe, el orden público, los usos del tráfico y el presente Aviso Legal como consecuencia del uso incorrecto del Sitio Web.
                </li>
            </ul>

            <h2>VII. MODIFICACIONES</h2>
            <p>
                El titular del Sitio Web se reserva el derecho de efectuar sin previo aviso las modificaciones que considere oportunas en su portal, pudiendo cambiar,
                suprimir o añadir tanto los contenidos y servicios que se presten a través del mismo como la forma en la que éstos aparezcan presentados o localizados
                en su portal.
            </p>

            <h2>VIII. ENLACES</h2>
            <p>
                En el caso de que en el Sitio Web se dispusiesen enlaces o hipervínculos hacía otros sitios de Internet, el titular del Sitio Web no ejercerá ningún
                tipo de control sobre dichos sitios y contenidos. En ningún caso asumirá responsabilidad alguna por los contenidos de algún enlace perteneciente a un
                sitio web ajeno.
            </p>

            <h2>IX. DERECHO DE EXCLUSIÓN</h2>
            <p>
                El titular del Sitio Web se reserva el derecho a denegar o retirar el acceso al portal y/o los servicios ofrecidos sin necesidad de preaviso, a
                instancia propia o de un tercero, a aquellos usuarios que incumplan las presentes Condiciones Generales de Uso.
            </p>

            <h2>X. GENERALIDADES</h2>
            <p>
                El titular del Sitio Web perseguirá el incumplimiento de las presentes condiciones, así como cualquier utilización indebida de su portal ejerciendo
                todas las acciones civiles y penales que le puedan corresponder en derecho.
            </p>

            <h2>XI. MODIFICACIÓN DE LAS PRESENTES CONDICIONES Y DURACIÓN</h2>
            <p>
                El titular del Sitio Web podrá modificar en cualquier momento las condiciones aquí determinadas, siendo debidamente publicadas como aquí aparecen.
                La vigencia de las citadas condiciones irá en función de su exposición y estarán vigentes hasta que sean modificadas por otras debidamente publicadas.
            </p>

            <h2>XII. LEGISLACIÓN APLICABLE Y JURISDICCIÓN</h2>
            <p>
                El titular del Sitio Web se reserva la facultad de presentar las acciones civiles o penales que considere necesarias por la utilización indebida del
                Sitio Web y Contenidos, o por el incumplimiento de las presentes Condiciones.

                La relación entre el Usuario y el Sitio web se regirá por la normativa vigente y de aplicación en el territorio español. De surgir cualquier controversia
                en relación con la interpretación y/o a la aplicación de estas Condiciones las partes someterán sus conflictos a la jurisdicción ordinaria sometiéndose
                a los jueces y tribunales que correspondan conforme a derecho.
            </p>
        </div>
    </section>
</main>

<!-- FOOTER -->
<app-footer />
